<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" th:href="@{/css/Header-Blue.css}">
    <link rel="stylesheet" href="@{/css/styles.css}">
</head>

<body style="background-color: rgb(201,212,218);">
<div style="height: 50px;">
    <div class="header-blue" style="height: 50px;">
        <h1 style="color: rgb(230,234,223);">Picture App</h1>
    </div>
</div>
<h1 style="margin-top: 80px;font-size: 20px;width: 80%;margin-left: 10%;">Upload new picture:</h1>
<div class="table-responsive" style="width: 80%;margin-left: 10%;background-color: #115382;">

    <form method="POST" action="/pictures/add" enctype="multipart/form-data">
        Name:<input type="text" name="name" />
        Image:<input type="file" name="content" accept="image/*" />
        <input type="submit" value="Upload" />
    </form>


</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

